<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md">

        <!--<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>-->
        <!--<small class="d-block mb-3 text-muted">&copy; 2018</small>-->
        <span>  <i class="material-icons date-icon">gavel</i>
           Andrey Marchenko &copy; 2018
        </span>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Cool stuff</a></li>
          <li><a class="text-muted" href="#">Random feature</a></li>
          <li><a class="text-muted" href="#">Team feature</a></li>
          <li><a class="text-muted" href="#">Stuff for developers</a></li>
          <li><a class="text-muted" href="#">Another one</a></li>
          <li><a class="text-muted" href="#">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About developer</h5>
        <ul class="social list-unstyled ">
          <li class="socialItem">
            <a href="" class="socialLink glob">

            </a>
          </li>
          <li class="socialItem">
            <a href="" class="socialLink fb">
              <i class="fa fa-facebook-official"></i>
            </a>
          </li>
          <li class="socialItem">
            <a href="https://github.com/Kbac-andrey/Real-feeds" class="socialLink github">
              <i class="fa fab fa-github"></i>
            </a>
          </li>
          <li class="socialItem">
            <a href="https://www.linkedin.com/in/andrey-marchenko-98400764" class="socialLink linkedIn">
              <i class="fa fab fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
