.date-icon {
  vertical-align: text-top;
}
.socialLink {
  color: white;
}
.socialItem {
  display:inline-block;
  *display:inline; /*IE7*/
  *zoom:1; /*IE7*/
  margin-right:10px;
}
.fa-facebook-official {
   font-size: 30px;
   color: #551a8b;
   /*color:#ff4081;*/
}
.fa-facebook-official:hover {
  color: #007bff;
}
.fa-github {
  font-size: 30px;
  color: #546f7a;
}
.fa-github:hover {
  color:#ff4081;
}
.fa-linkedin {
  font-size: 30px;
  color: #007bff;
}
.fa-linkedin:hover {
  color: orangered;
}
@media (min-width: 320px) {
  .developer-block {
    text-align: center;
    padding: 20px 0;
  }
  .fa-facebook-official {
    font-size: 25px;
  }
  .fa-github {
    font-size: 25px;
  }
  .fa-linkedin {
    font-size: 25px;
  }
}
@media (min-width: 576px) {
  .developer-block {
    text-align: center;
    padding: 20px 0;
  }
}
