<form #newUserForm="ngForm" (ngSubmit)="regestrationNewUser(newUserForm.value)" class="form-restration">
  <div class="form-group">
    <label for="inputName">Name:</label>
    <input type="text" class="form-control" placeholder="put Yours name" name="name" id="inputName" ngModel required>
  </div>
  <div class="form-group">
    <label for="inputlastName">last name:</label>
    <input type="text" class="form-control" placeholder="put Yours last name" name="lastName" id="inputlastName" ngModel required>
  </div>
  <div class="form-group">
    <label for="inputEmail">Email:</label>
    <input type="text" class="form-control" placeholder="put Yours email" name="email" id="inputEmail" ngModel required>
  </div>
  <div class="form-group">
    <label for="inputPassword">Password:</label>
    <input type="text" class="form-control" placeholder="put Yours password" name="password" id="inputPassword" ngModel required>
    <p class="impt-text">It is important to log in to the site you will need to use when you log on to the site </p>
  </div>
  <div class="form-group">
    <label for="inputCountry">Country:</label>
    <input type="text" class="form-control" placeholder="put Yours country" id="inputCountry" name="country" ngModel required>
  </div>
  <div class="form-group">
    <label for="inputphoneNumber">Number:</label>
    <input type="text" class="form-control" placeholder="put Yours number" id="inputphoneNumber" name="phoneNumber" ngModel required>
  </div>
  <!--<div class="form-group">-->
    <!--<label for="inputavatar">Load yours Photo:</label>-->
    <!--<input type="file" id="inputavatar" name="avatar" ngModel required>-->
  <!--</div>-->
  <div class="form-group">
    <button class="btn btn-primary listing-button col-sm-12" type="submit" data-test="submitForm">
      Create Account
    </button>
  </div>
</form>

<!--<form #newUserForm="ngForm" (ngSubmit)="regestrationNewUser(newUserForm.value)" class="form-restration">-->
  <!--<div class="form-label-group form-group">-->
    <!--<label for="inputName">Yours name</label>-->
    <!--<input type="text" id="inputName" class="form-control" placeholder="Yours name"  required autofocus >-->
  <!--</div>-->
  <!--<div class="form-label-group form-group">-->
    <!--<label for="inputlastName">Yours last name</label>-->
    <!--<input type="text" id="inputlastName" class="form-control" placeholder="Yours last name"   required >-->
  <!--</div>-->
  <!--<div class="form-label-group form-group">-->
    <!--<label for="inputEmail">Yours Email address</label>-->
    <!--<input type="email" id="inputEmail" class="form-control" placeholder="Yours Email"   required >-->
    <!--<p class="impt-text">It is important to log in to the site you will need to use when you log on to the site </p>-->
  <!--</div>-->
  <!--<div class="form-label-group form-group">-->
    <!--<label for="inputCountry">Yours country</label>-->
    <!--<input type="text" id="inputCountry" class="form-control" placeholder="Yours country"   required >-->
  <!--</div>-->
  <!--<div class="form-label-group form-group">-->
    <!--<label for="inputphoneNumber">Yours Phone </label>-->
    <!--<input type="text" id="inputphoneNumber" class="form-control" placeholder="Yours phone"   >-->
  <!--</div>-->
  <!--<div class="form-label-group form-group">-->
    <!--<label for="inputavatar">Load yours Photo: </label>-->
    <!--<input type="file" id="inputavatar"  placeholder="Yours Photo" (change)="onFileSelect($event)"   >-->
  <!--</div>-->
  <!--<button class="btn btn-lg btn-primary btn-block btn-regestration" type="submit">Sign in</button>-->
<!--</form>-->

