.author-info {
  display: flex;
  padding-top: 30px;
}
.block-Auth-info-text {
  padding-top: 50px;
  vertical-align: top;
}

.likes-btn{
  position: absolute;
  bottom: 0;
  top: 75px;
  left: 105px;
  margin: 0 auto;
  width: 66px;
  height: 63px;
}
.heart-ico {
  font-size: 50px;
  left: 0;
  position: absolute;
  margin: 0 auto;
  right: 20px;
  bottom: 0;
  top: 10px;
}
.counter-likes {
  position: absolute;
  color: #10b2e5;
  right: 0;
  font-size: 13px;
  top: 20px;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}
.title-news {
  color: orangered;
}
.news-text {
  padding-top: 30px;
}
.body-news {
  color: #546f7a;
  font-size: 20px;
  padding-top: 20px;
}
.line-after-block {
  color: #3f51b5;
  border-top: 1px solid  #3f51b5;
  background-color: #3f51b5;
  width: 100%;
}
@media (max-width: 575.98px) {
  .author-info {
    display: block;
    padding-top: 30px;
  }
  .block-photo {
    text-align: center;
    position: relative;
  }
  .block-Auth-info-text {
    text-align: center !important;
    padding-top: 10px;
  }
  .likes-btn{
    position: absolute;
    bottom: 0;
    top: 76px;
    left: 100px;
    right: 0;
    margin: 0 auto;
  }
  .title-news {
    font-size: 30px;
  }
  .news-text{
    padding: 10px 15px;
  }
  .body-news {
    padding-top: 0;
  }
}
