<div class="container">
  <div class="row">
    <div id="News-info"  *ngFor="let author of news">
      <div class="author-info" *ngIf="author.lorem">
        <div class="block-photo col-md-4">
          <img src="{{author.avatar}}" alt="ava" class="rounded-circle avatar border border-primary">
        </div>
        <div class="block-worker-info col-md-4 text-center">
          <div class="sub-block-worker-info block-Auth-info-text">
            <span class="worker-name">{{author.name}} {{author.lastName}}</span>
          </div>
        </div>
        <div class="block-worker-info col-md-4">
          <div class="sub-block-worker-info block-Auth-info-text text-right" >
            <span class="worker-name">{{author.dataforpost | date:'longDate'}}</span>
          </div>
        </div>
      </div>
      <div class="news-info-text">
        <div class="block-news">
          <h1 class="title-news text-center">{{author.title}}</h1>
        </div>
        <div class="news-text">
          <p class="body-news">
            {{author.lorem}}
          </p>
        </div>
        <hr class="line-after-block">
      </div>
    </div>
    <!--<div class="block-worker-info col-md-4 col-sm-2">-->
      <!--<div class="sub-block-worker-info">-->
        <!--<span class="worker-name">{{user.name}} {{user.lastName}}</span>-->
      <!--</div>-->
      <!--<div class="sub-block-worker-info">-->
        <!--<span class="worker-name">{{user.stack}}</span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="block-worker-info col-12 col-sm-5">-->
      <!--<div class="sub-block-worker-info">-->
        <!--<span class="email-icon"><mat-icon >email</mat-icon></span>-->
        <!--<span class="worker-name">{{user.email}}</span>-->
      <!--</div>-->
      <!--<div class="sub-block-worker-info">-->
            <!--<span class="email-icon">-->
              <!--<mat-icon >phone</mat-icon>-->
            <!--</span>-->
        <!--<span class="worker-name">{{user.phoneNumber}}</span>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>
