<div class="container">
  <div class="row">
    <div id="News-info" *ngFor="let author of news" >
      <div class="author-info" *ngIf="author['articles'].length>0">
        <div class="block-photo col-md-4">
          <img src="{{author.avatar}}" routerLink="/user/{{author.id}}" alt="ava" class="rounded-circle avatar border border-primary">
        </div>
        <div class="block-worker-info col-md-4 text-center">
          <div class="sub-block-worker-info block-Auth-info-text">
            <span class="worker-name">{{author.name}} {{author.lastName}}</span>
          </div>
        </div>
        <div class="block-worker-info col-md-4">

        </div>
      </div>
      <div class="news-info-text" *ngFor="let article of author.articles; let i = index">
        <div *ngIf="i == (author.articles.length-1)">
          <div class="block-news">
            <h1 class="title-news text-center">{{article.title}}</h1>
          </div>
          <div class="news-text">
            <p class="body-news" >
              {{article.lorem}}
            </p>
          </div>
          <div class="article-data-information">
            <div class="artilce-bottom  post-date col-md-10 col-sm-12" >
              <span class="worker-name">{{article.dataforpost | date:'longDate'}}</span>
            </div>
            <div class="artilce-bottom  text-right like-btn-block col-md-2 col-sm-12">
              <app-favorite  [userId]="author.id" [userArticleId]="article.idArticle" (like)="onLike($event)">
              </app-favorite>
              <span class="counter-likes">{{article.userLikes.length}}</span>
            </div>
          </div>
          <hr class="line-after-block">
        </div>
      </div>
    </div>
  </div>
</div>
