    <div id="personal-info">
      <div class="author-info">
        <div class="block-photo col-md-2 col-lg-2 text-center">
          <img src="{{user.avatar}}" routerLink="/user/{{user.id}}" alt="ava" class="rounded-circle avatar border border-primary">
        </div>
        <div class="block-worker-info col-md-3 text-center">
          <div class="sub-block-worker-info block-Auth-info-text Auth-info-name-lastname" >
            <span class="worker-name">{{user.name}} {{user.lastName}}</span>
          </div>
        </div>
        <div class="block-worker-info col-md-3 col-lg-3">
          <div class="sub-block-worker-info block-Auth-info-text Auth-info-email text-right">
            <span class="email-icon"><mat-icon class="email-icon">email</mat-icon></span>
            <span class="worker-name">{{user.email}}</span>
          </div>
        </div>
        <div class="block-worker-info col-md-4 col-lg-4">
          <div class="sub-block-worker-info block-Auth-info-text Auth-info-phone  text-right">
            <span class="email-icon"><mat-icon class="email-icon">phone</mat-icon></span>
            <span class="worker-name">{{user.phoneNumber}}</span>
          </div>
        </div>
      </div>
      <div class="more-inform" *ngIf="!StatusMessage">
        <mat-card>
          <mat-card-content>
            <mat-tab-group class="demo-tab-group">
              <mat-tab class="label-info" label="MY FEEL HISTORY">
                <div class="demo-tab-content">
                  <div class="details-group">
                    <p class="title-details-group title-details-date-posts">
                      <span class="result-details-group">{{user.dataforpost | date:'longDate'}}</span>
                    </p>
                    <span class="result-details-group title-details-post">{{user.lorem}}</span>
                  </div>
                  <hr class="line-after-block">
                </div>
              </mat-tab>
            <mat-tab class="label-info" label="More details about me">
              <div class="demo-tab-content form-group">
                <p class="title-details-group title-details-date-posts">
                  <label for="details-country" class="label-details-country">Country:</label>
                  <span id="details-country" class="details-country">{{user.country}}</span>
                </p>
              </div>
              <div class="demo-tab-content form-group">
                <p class="title-details-group title-details-date-posts">
                  <label for="details-country" class="label-details-country">City:</label>
                  <span id="details-country" class="details-country">{{user.city}}</span>
                </p>
              </div>
              <div class="demo-tab-content form-group">
                <p class="title-details-group title-details-date-posts">
                  <label for="details-country" class="label-details-country">Date of birth:</label>
                  <span id="details-country" class="details-country">{{user.dateOfBirth | date:"MM/dd/yy"}}</span>
                </p>
              </div>
            </mat-tab>
            <mat-tab class="label-info" label="edit">
              <div class="demo-tab-content">
                <form #editUserForm="ngForm" (ngSubmit)="editUser(editUserForm.value)" class="form-edit">
                  <div class="form-group">
                    <label for="inputName">Name:</label>
                    <input type="text" class="form-control" placeholder="Yours name" name="name" id="inputName" [(ngModel)]="user.name" ngModel required>
                  </div>
                  <div class="form-group">
                    <label for="inputlastName">Last name:</label>
                    <input type="text" class="form-control" placeholder="Yours last name" name="lastName" id="inputlastName" [(ngModel)]="user.lastName" ngModel required>
                  </div>
                  <div class="form-group">
                    <label for="inputdateOfBirth">Date of birth:</label>
                    <input type="text" class="form-control" placeholder="MM/dd/yy" name="dateOfBirth" id="inputdateOfBirth" [(ngModel)]="user.dateOfBirth" ngModel required>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail">Email:</label>
                    <input type="text" class="form-control" placeholder="Yours email" name="email" id="inputEmail" [(ngModel)]="user.email" ngModel required>
                  </div>
                  <div class="form-group">
                    <label for="inputCountry">Country:</label>
                    <input type="text" class="form-control" placeholder="Yours country" id="inputCountry" name="country" [(ngModel)]="user.country" ngModel required>
                  </div>
                  <div class="form-group">
                    <label for="inputCity">City:</label>
                    <input type="text" class="form-control" placeholder="Yours City" id="inputCity" name="city" [(ngModel)]="user.city" ngModel required>
                  </div>
                  <div class="form-group">
                    <label for="inputphoneNumber">Number:</label>
                    <input type="text" class="form-control" placeholder="Yours number" id="inputphoneNumber" name="phoneNumber" [(ngModel)]="user.phoneNumber" ngModel required>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary listing-button col-sm-12" type="submit" data-test="submitForm">
                      Update Account
                    </button>
                  </div>
                </form>
              </div>
            </mat-tab>
            </mat-tab-group>
          </mat-card-content>
        </mat-card>
      </div>
    </div>






<!--<div class="wrap">-->
  <!--<div class="container-fluid">-->
    <!--<div class="litle-inform row">-->
      <!--<div class="block-photo col-12 col-sm-2">-->
        <!--<img src="{{user.avatar}}" alt="ava" class="rounded-circle avatar border border-primary">-->
      <!--</div>-->
      <!--<div class="block-worker-info col-12 col-sm-5">-->
        <!--<div class="sub-block-worker-info">-->
          <!--<span class="worker-name">{{user.name}} {{user.lastName}}</span>-->
        <!--</div>-->
        <!--<div class="sub-block-worker-info">-->
          <!--<span class="worker-name">{{user.stack}}</span>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="block-worker-info col-12 col-sm-5">-->
        <!--<div class="sub-block-worker-info">-->
          <!--<span class="email-icon"><mat-icon >email</mat-icon></span>-->
          <!--<span class="worker-name">{{user.email}}</span>-->
        <!--</div>-->
        <!--<div class="sub-block-worker-info">-->
            <!--<span class="email-icon">-->
              <!--<mat-icon >phone</mat-icon>-->
            <!--</span>-->
          <!--<span class="worker-name">{{user.phoneNumber}}</span>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="more-inform">-->
      <!--<mat-card>-->
        <!--<mat-card-content>-->
          <!--<mat-tab-group class="demo-tab-group">-->
            <!--<mat-tab class="label-info" label="WORK DETAILS">-->
              <!--<div class="demo-tab-content">-->
                <!--<div class="details-group">-->
                  <!--<span class="title-details-group">Base Location:</span>-->
                  <!--<span class="result-details-group">{{user.country}}</span>-->
                <!--</div>-->
              <!--</div>-->
            <!--</mat-tab>-->
            <!--<mat-tab class="label-info" label="CAREER DETAILS">-->
              <!--<div class="demo-tab-content">-->
                <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.-->
                <!--Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.-->
                <!--In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,-->
                <!--feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,-->
                <!--orci enim rutrum enim, vel tempor sapien arcu a tellus.-->
              <!--</div>-->
            <!--</mat-tab>-->
            <!--<mat-tab class="label-info" label="ACTIVITY">-->
              <!--<div class="demo-tab-content">-->
                <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.-->
                <!--Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.-->
                <!--In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,-->
                <!--feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,-->
                <!--orci enim rutrum enim, vel tempor sapien arcu a tellus.-->
              <!--</div>-->
            <!--</mat-tab>-->
          <!--</mat-tab-group>-->
        <!--</mat-card-content>-->
      <!--</mat-card>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
