    <div id="personal-info">
      <div class="author-info">
        <div class="block-photo col-md-2 col-lg-2 text-center">
          <img src="{{user.avatar}}"  alt="ava" class="rounded-circle avatar border border-primary">
        </div>
        <div class="block-worker-info col-md-3 text-center">
          <div class="sub-block-worker-info block-Auth-info-text Auth-info-name-lastname" >
            <span class="worker-name">{{user.name}} {{user.lastName}}</span>
          </div>
        </div>
        <div class="block-worker-info col-md-3 col-lg-3">
          <div class="sub-block-worker-info block-Auth-info-text Auth-info-email text-right">
            <span class="email-icon"><mat-icon class="email-icon">email</mat-icon></span>
            <span class="worker-name">{{user.email}}</span>
          </div>
        </div>
        <div class="block-worker-info col-md-4 col-lg-4">
          <div class="sub-block-worker-info block-Auth-info-text Auth-info-phone  text-right">
            <span class="email-icon"><mat-icon class="email-icon">phone</mat-icon></span>
            <span class="worker-name">{{user.phoneNumber}}</span>
          </div>
        </div>
      </div>
      <div class="more-inform" *ngIf="!StatusMessage">
        <mat-card>
          <mat-card-content>
            <mat-tab-group class="demo-tab-group">
                <!--<div *ngIf="i == (author.articles.length-1)">-->
              <mat-tab class="label-info" label="MY FEEL HISTORY">
                <div class="demo-tab-content" *ngFor="let userarticle of user.articles.reverse();  let i = index">
                  <div class="block-news title-of-news">
                    <h1 class="title-news text-center">{{userarticle.title}}</h1>
                  </div>
                  <div class="news-text">
                    <p class="body-news" >
                      {{userarticle.lorem}}
                    </p>
                  </div>
                  <div class="article-data-information">
                    <div class="artilce-bottom  post-date col-md-10 col-sm-12" >
                      <span class="article-date">{{userarticle.dataforpost | date:'longDate'}}</span>
                    </div>
                    <div class="artilce-bottom  text-right like-btn-block col-md-2 col-sm-12">
                      <mat-icon class="heart-ico" aria-label="Example icon-button with a heart icon">thumb_up</mat-icon><span class="counter-likes"> {{userarticle.userLikes.length}}</span>
                    </div>
                  </div>
                  <!--<div class="details-group">-->
                    <!--<p class="title-details-group title-details-date-posts">-->
                      <!--<span class="result-details-group">{{user.dataforpost | date:'longDate'}}</span>-->
                    <!--</p>-->
                    <!--<span class="result-details-group title-details-post">{{user.lorem}}</span>-->
                  <!--</div>-->
                  <hr class="line-after-block">
                </div>
              </mat-tab>
              <mat-tab class="label-info" label="LIKE FEEL">
                <div class="demo-tab-content" *ngFor="let userWithlikes of usersWthLikes">
                  <div class="news-info-text" *ngFor="let article of userWithlikes.articles; let i = index">
                    <div *ngIf="article.userLikes.indexOf(user.id) != -1 ||  0">
                      <div class="author-info" *ngIf="article.userLikes.length>0">
                        <div class="block-photo col-md-4">
                          <img src="{{userWithlikes.avatar}}" alt="ava" class="rounded-circle avatar border border-primary">
                        </div>
                        <div class="block-worker-info col-md-4 text-center">
                          <div class="sub-block-worker-info block-Auth-info-text">
                            <span class="worker-name label-details-country article-info">{{userWithlikes.name}} {{userWithlikes.lastName}}</span>
                          </div>
                        </div>
                        <div class="block-worker-info col-md-4 text-right">
                          <div class="sub-block-worker-info block-Auth-info-text">
                            <span class="worker-name label-details-country article-info">{{article.dataforpost | date:'longDate'}}</span>
                          </div>
                        </div>
                      </div>
                      <div class="block-news title-of-news">
                        <h1 class="title-news text-center">{{article.title}}</h1>
                      </div>
                      <div class="news-text">
                        <p class="body-news" >
                          {{article.lorem}}
                        </p>
                      </div>
                      <hr class="line-after-block">
                    </div>
                  </div>
                </div>
              </mat-tab>
            <mat-tab class="label-info" label="More details about me">
              <div class="demo-tab-content form-group">
                <p class="title-details-group title-details-date-posts">
                  <label for="details-country" class="label-details-country">Country:</label>
                  <span id="details-country" class="details-country">{{user.country}}</span>
                </p>
              </div>
              <div class="demo-tab-content form-group">
                <p class="title-details-group title-details-date-posts">
                  <label for="details-country" class="label-details-country">City:</label>
                  <span id="details-country" class="details-country">{{user.city}}</span>
                </p>
              </div>
              <div class="demo-tab-content form-group">
                <p class="title-details-group title-details-date-posts">
                  <label for="details-country" class="label-details-country">Date of birth:</label>
                  <span id="details-country" class="details-country">{{user.dateOfBirth | date:"MM/dd/yy"}}</span>
                </p>
              </div>
            </mat-tab>
            <mat-tab class="label-info" label="edit profile">
              <div class="demo-tab-content">
                <form #editUserForm="ngForm" (ngSubmit)="editUser(editUserForm.value)" class="form-edit">
                  <h1 class="title-news text-center">edit profile</h1>
                  <div class="form-group">
                    <label for="inputName">Name:</label>
                    <input type="text" class="form-control" placeholder="Yours name" name="name" id="inputName" [(ngModel)]="user.name" ngModel required>
                  </div>
                  <div class="form-group">
                    <label for="inputlastName">Last name:</label>
                    <input type="text" class="form-control" placeholder="Yours last name" name="lastName" id="inputlastName" [(ngModel)]="user.lastName" ngModel required>
                  </div>
                  <div class="form-group">
                    <label for="inputdateOfBirth">Date of birth:</label>
                    <input type="text" class="form-control" placeholder="MM/dd/yy" name="dateOfBirth" id="inputdateOfBirth" [(ngModel)]="user.dateOfBirth" ngModel required>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail">Email:</label>
                    <input type="text" class="form-control" placeholder="Yours email" name="email" id="inputEmail" [(ngModel)]="user.email" ngModel required>
                  </div>
                  <div class="form-group">
                    <label for="inputCountry">Country:</label>
                    <input type="text" class="form-control" placeholder="Yours country" id="inputCountry" name="country" [(ngModel)]="user.country" ngModel required>
                  </div>
                  <div class="form-group">
                    <label for="inputCity">City:</label>
                    <input type="text" class="form-control" placeholder="Yours City" id="inputCity" name="city" [(ngModel)]="user.city" ngModel required>
                  </div>
                  <div class="form-group">
                    <label for="inputphoneNumber">Number:</label>
                    <input type="text" class="form-control" placeholder="Yours number" id="inputphoneNumber" name="phoneNumber" [(ngModel)]="user.phoneNumber" ngModel required>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary listing-button col-sm-12" type="submit" data-test="submitForm">
                      Update Account
                    </button>
                  </div>
                </form>
              </div>
            </mat-tab>
            </mat-tab-group>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
