.author-info {
  display: flex;
  padding-top: 40px;
  padding-bottom: 50px;
}
.block-Auth-info-text {
  padding-top: 50px;
  color: white;
}
.email-icon {
  vertical-align: bottom;
  color: white;
}
#personal-info {
  background-color: #563d7c;
}
@media (max-width: 575.98px) {
  .author-info {
    display: block;
    padding-top: 30px;
  }
  .block-photo {
    text-align: center;
  }
  .block-Auth-info-text {
    text-align: center !important;
    padding-top: 10px;
  }
  .title-news {
    font-size: 30px;
  }
  .news-text{
    padding: 10px 15px;
  }
  .body-news {
    padding-top: 0;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .author-info {
    display: block;
    padding-top: 30px;
  }
  .block-photo {
    text-align: center;
  }
  .block-Auth-info-text {
    text-align: center !important;
    padding-top: 10px;
  }
  .title-news {
    font-size: 30px;
  }
  .news-text{
    padding: 10px 15px;
  }
  .body-news {
    padding-top: 0;
  }
}
@media (min-width: 768px) and (max-width: 1208px) {
  .block-photo{
    text-align: left !important;
  }
  .email-icon {
    display: none;
  }
  .block-Auth-info-text {
    text-align: left !important;
  }
  .Auth-info-email {
    text-align: left !important;
   }
  .Auth-info-phone {
    text-align: right !important;
  }
  .Auth-info-name-lastname {
    text-align: center !important;
  }
}
