/*user-info*/
.author-info {
  display: flex;
  padding-top: 40px;
  padding-bottom: 50px;
}
.block-Auth-info-text {
  padding-top: 50px;
  color: white;
}
.email-icon {
  vertical-align: bottom;
  color: white;
}
#personal-info {
  background-color: #563d7c;
}
/*user-info*/

/*more details*/
/*::ng-deep .mat-tab-label, .mat-tab-link {*/
  /*color: #10b2e5 !important;*/
/*}*/
::ng-deep .mat-tab-label {
  font-family: Lato;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
}
::ng-deep .mat-tab-label-active {
  color: #3f51b5 !important;
}
.title-details-date-posts {
  margin-top: 20px!important;
  font-size: 20px;
  color: #455A64;
}
.title-details-post {
  font-size: 15px;
  color: #263238;
}
.label-details-country {
  color: #212121 !important;
}
.details-country {
  color: #FF7043 !important;
  font-size: 18px;
}
.line-after-block {
  color: #3f51b5;
  border-top: 1px solid  #3f51b5;
  background-color: #3f51b5;
  width: 100%;
}
.body-news {
  color: #546f7a;
  font-size: 18px;
}
.article-date{
  color: #546f7a;
  font-size: 18px;
}
.counter-likes {
  vertical-align: bottom;
  color: #ff4081
}
.heart-ico {
  color: #3f51b5;
  vertical-align: middle;
}

/*edit tab*/
.form-edit {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}
.title-of-news {
  padding-top: 15px;
  padding-bottom: 20px;
}
.title-news {
  text-transform: uppercase;
  color: orangered;
  margin: 0;
}
.article-data-information {
  display: flex;
}
/*edit tab*/
.article-info {
  font-size: 20px;
  color: #455A64;
}
.body-news {
  padding-top: 0 !important;
  font-size: 20px !important;
}

@media (max-width: 575.98px) {
  .author-info {
    display: block;
    padding-top: 30px;
  }
  .block-photo {
    text-align: center;
  }
  .block-Auth-info-text {
    text-align: center !important;
    padding-top: 10px;
  }
  .title-news {
    font-size: 30px;
  }
  .news-text{
    padding: 10px 15px;
  }
  .body-news {
    padding-top: 0;
  }
  .article-data-information {
    display: block;
  }
  .like-btn-block {
    text-align: center !important;
  }
  .post-date {
    text-align: center !important;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .author-info {
    display: block;
    padding-top: 30px;
  }
  .block-photo {
    text-align: center;
  }
  .block-Auth-info-text {
    text-align: center !important;
    padding-top: 10px;
  }
  .title-news {
    font-size: 30px;
  }
  .news-text{
    padding: 10px 15px;
  }
  .body-news {
    padding-top: 0;
  }
  .article-data-information {
    display: block;
  }
  .like-btn-block {
    text-align: center !important;
  }
  .post-date {
    text-align: center !important;
  }
}
@media (min-width: 768px) and (max-width: 1208px) {
  .block-photo{
    text-align: left !important;
  }
  .email-icon {
    display: none;
  }
  .block-Auth-info-text {
    text-align: left !important;
  }
  .Auth-info-email {
    text-align: left !important;
   }
  .Auth-info-phone {
    text-align: right !important;
  }
  .Auth-info-name-lastname {
    text-align: center !important;
  }
}
