<form (submit)="loginUser($event)" class="form-signin">
  <div class="text-center mb-4">
    <h1 class="h3 mb-4 font-weight-normal form-log">Thank that you visit our site again</h1>
    <p>If you dont have account  <a routerLink="/registration" class="mt-5 mb-3 text-muted text-center create-link">create now!</a></p>
  </div>
<div class="form-label-group form-group">
  <label for="userEmail">Email address:</label>
  <input type="email" id="userEmail" class="form-control" placeholder="user Email" required autofocus>
</div>
<div class="form-label-group">
  <label for="userPassword">Password:</label>
  <input type="password" id="userPassword" class="form-control" placeholder="Password" required>
</div>
<button class="btn btn-lg btn-primary btn-block btn-log"  type="submit">Sign in</button>
</form>
