#add-news {
  width: 100%;
  padding: 15px;
  margin: auto;
}
.title-news {
  text-transform: uppercase;
  color: orangered;
}
.create-link {
  color: #10b2e5 !important;
}
.create-link:hover {
  text-decoration: none;
}
.form-log {
  color: #10b2e5;
}
.form-group {
  margin-top: 20px;
}
.btn-regestration {
  margin-top: 20px;
}
.impt-text {
  padding-top: 10px;
  color: red;
}
#inputavatar {
  width: 203px;
}
